{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="profile">
    {% if user.is_authenticated %}
      <h1>{{ user.username }}'s Profile</h1>
      <div class="profile-picture-wrapper">
        {% if user.profile.avatar %}
          <img src="{{ user.profile.avatar.url }}" alt="Profile picture" class="profile-picture">
        {% else %}
          <img src="{% static 'img/user.png' %}" alt="Default Profile picture" class="profile-picture">
        {% endif %}
      </div>
      <p class="joined-date">Joined: {{ user.date_joined|date:"F j, Y" }}</p>
      <p class="bio">Bio: {{ user.profile.bio }}</p>
      <p>Followers: <a href="{% url 'profile:view_followers' %}">{{ user.profile.followers.count }}</a></p>
      <p>Following: <a href="{% url 'profile:view_subscriptions' %}">{{ user.profile.following.count }}</a></p>
      <div class="profile-actions">
        <a href="{% url 'profile:update_profile' %}" class="profile-btn">Edit Profile</a>
        <a href="{% url 'profile:create_profile' %}" class="profile-btn">Create Profile</a>
      </div>
    {% else %}
      <p>You need to <a href="{% url 'auth_sys:login' %}">login</a> or <a href="{% url 'auth_sys:signup' %}">register</a> to view this page.</p>
    {% endif %}
  </div>
{% endblock %}
