
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #cdc6e2;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

footer {
  background-color: #9be09d;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px 0;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post img {
  max-width: 100%;
  display: block;
}

.post-content {
  padding: 15px;
}

.post-author {
  font-weight: bold;
  font-size: 1.1em;
}

.post-timestamp {
  color: #aaa;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.post-text {
  font-size: 1em;
  line-height: 1.5em;
  margin: 10px 0;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.post-actions button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 1em;
}

.post-actions button:hover {
  text-decoration: underline;
}
